@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    transition: all ease 1s;
}
:root {
    --main-green: #267871;
    --main-white: #ffffff;
    --main-blue: #242a47;
    --main-orange: #ff6000;
    --main-fade-green: #9dc2bf;
}
body {
    font-family: "Roboto", sans-serif;
}
.main_section {
    max-width: 1500px;
    height: 200vh;
    overflow-y: scroll;
}
.main_section::-webkit-scrollbar {
    display: none;
}

#app {
    display: flex;
    justify-content: center;
    background-color: white;
    inset: 0;
}
