:root {
    --main-green: #267871;
    --main-white: #ffffff;
    --main-blue: #252b48;
    --main-orange: #ff6000;
    --main-fade-green: #9dc2bf;
}

.home-conatiner {
    width: 100%;
    background-color: white;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 0rem;
    background-color: var(--main-white);
    display: flex;
    padding: 5vh;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 1.9rem;
    background: linear-gradient(-180deg, var(--main-white), var(--main-green));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav_right {
    /* margin-left: 20rem; */
    display: flex;
    align-items: center;
    /* ckground: green; ba */
}

.nav_right > div {
    display: flex;
    gap: 0.3em;
}

.nav_right > div > button {
    padding: 0.5rem;
    color: var(--main-white);
    border: 1px solid var(--main-green);
    border-radius: 0.5em;
    background: var(--main-white);
}

.nav_right > div > button:hover,
.nav_right > div > button > a:hover {
    background: var(--main-green);
    color: var(--main-white);
}

.nav_right > div > button > a {
    color: var(--main-green);
    text-decoration: none;
}

.nav_right > button {
    background: var(--main-green);
    margin-left: 5rem;
    outline: none;
    border: 0px;
    color: var(--main-white);
    padding: 0.5rem;
    border-radius: 0.5em;
}

.nav_right > button:hover {
    background: var(--main-white);
    color: var(--main-green);
    border: 1px solid var(--main-orange);
}

.bx-menu-alt-right,
.bx-x {
    font-size: 2.5rem;
    color: var(--main-green);
    display: none;
}
/*  */
.nav_right_active {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    background: var(--main-blue);
    top: 4em;
    flex-direction: column;
    align-items: center;
}
.nav_right_active > div {
    display: flex;
    width: 90%;
    gap: 0.6em;
    margin-top: 1em;
    flex-direction: column;
}
.nav_right_active > div > button {
    padding: 1rem;
    border: 1px solid var(--main-green);
    border-radius: 0.5em;
    background: var(--main-white);
}
.nav_right_active > div > button:hover {
    background: var(--main-green);
}

/* .nav_right_active > div > button:hover,
.nav_right_active > div > button > a:hover {
    background: var(--main-green);
    color: var(--main-orange);
} */

.nav_right_active > div > button > a {
    color: var(--main-orange);
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

.nav_right_active > button {
    background: var(--main-green);
    outline: none;
    border: 0px;
    color: var(--main-white);
    padding: 0.5rem;
    border-radius: 0.5em;
}

.nav_right_active > button:hover {
    background: var(--main-white);
    color: var(--main-green);
    border: 1px solid var(--main-orange);
}
.nav_right_active > button {
    width: 90%;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.4em;
    padding: 1em;
}
.login-nav-button {
    background: var(--main-orange) !important;
}
@media screen and (max-width: 800px) {
    .bx-menu-alt-right,
    .bx-x {
        font-size: 2.5rem;
        color: var(--main-green);
        display: block;
    }
    /*  */
    .nav_right > div {
        display: none;
    }
    .nav_right > button {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .nav_right > button {
        display: none;
    }
    .logo-text {
        font-size: 1.2rem;
    }
}
