/* .hero_section,
img {
    width: 100%;
    height: 95vh;
    background-image: url("images/image2.jpg");
    background-repeat: no-repeat;
    position: center;
    object-fit: contain;
} */
.hero_section {
    position: relative;
    height: calc(100vh - 10vh);
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.hero_main {
    width: 100%;
}

.side-holder {
    height: 95vh;
    width: auto;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: relative;
}
.side-holder > h2 {
    width: 80%;
    color: var(--main-white);
    font-size: 3rem;
}

.button-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2em;
}



@media screen and (max-width: 700px) {
    .side-holder {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .side-holder {
        margin: 0;
    }

    .button-holder > button {
        padding: 0.4rem;
    }
}

@media screen and (max-width: 400px) {
    .button-holder {
        display: flex;
        justify-self: center;
        flex-direction: column;
        margin-top: 30%;
        margin-left: 5%;
        width: 90%;
        align-items: center;
        gap: 1em;
    }

    .button-holder > button {
        width: 100%;
    }
}
