/* .hero_section,
img {
    width: 100%;
    height: 95vh;
    background-image: url("images/image2.jpg");
    background-repeat: no-repeat;
    position: center;
    object-fit: contain;
} */
.hero_section {
    position: relative;
    height: calc(100vh - 10vh);
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.hero_section::after {
    content: "";
    position: absolute;
    /* top: -40%;
    left: -50%;
    width: 200%;
    height: 70%;
    background: linear-gradient(
        217deg,
        var(--main-blue),
        var(--main-green) 70.71%
    );
    background-color: var(--main-blue);
    transform: rotate(10deg); */
    /* background-color: rgba(0, 0, 0, 0.6); */
    background: linear-gradient(
        135deg,
        rgba(20, 50, 100, 0.1),
        rgba(256, 96, 0, 0.4)
    );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero_main {
    width: 100%;

    /* background: #fffdfd; */
}

.side-holder {
    height: 95vh;
    width: auto;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: relative;
}
.side-holder > h2 {
    width: 80%;
    color: var(--main-white);
    font-size: 3rem;
}

.button-holder {
    display: flex;
    margin-top: 2rem;
    gap: 2em;
}

.button-holder > button {
    padding: 1rem;
    outline: none;
    border: 1px solid var(--main-white);
    background: var(--main-blue);
    color: var(--main-green);
    font-size: 1.2rem;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all ease 1s;
}
.button-holder > button:hover {
    border: 1px solid var(--main-blue);
    background: var(--main-white);
    transition: all ease 1s;
}
.button-holder > button > i {
    font-size: 1.6rem;
    color: var(--main-orange);
}

@media screen and (max-width: 700px) {
    .side-holder {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .side-holder {
        margin: 0;
    }

    .button-holder > button {
        padding: 0.4rem;
    }
}

@media screen and (max-width: 400px) {
    .button-holder {
        display: flex;
        justify-self: center;
        flex-direction: column;
        margin-top: 30%;
        margin-left: 5%;
        width: 90%;
        align-items: center;
        gap: 1em;
    }

    .button-holder > button {
        width: 100%;
    }
}
