.approve-tickets-container {
    width: 100%;
    height: 100%;
    padding: 2em;
}

.approve-tickets-container > span {
    color: var(--main-green);
}

.future-events-holder {
    height: 100%;
    padding: 1em;
    width: 100%;
    display: flex;
}

.future-events-buttons {
    display: flex;
    gap: 0.5em;
}

.future-events-buttons > button {
    background: var(--main-green);
    padding: 0.3em;
    border-radius: 0.4em;
    font-size: 0.7em;
    color: var(--main-white);
}

.future-events-buttons > :nth-child(1) {
    background: var(--main-orange);
}

.events-participants {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.3em;
}

.evemts-part-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
}

.evemts-part-header > span {
    color: var(--main-blue);
}

.evemts-part-header > button {
    color: var(--main-green);
}

.events-part-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: var(--main-blue);
    border-radius: 0.4em;
    padding: 0.4em;
}

.events-part-content::-webkit-scrollbar {
    display: none !important;
}

.event-part-item {
    display: flex;
    background: var(--main-white);
    border-radius: 0.3em;
    margin-top: 0.3em;
    justify-content: space-between;
}

.part-name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
}

.part-name > span {
    font-size: 0.8em;
    color: var(--main-green);
}

.part-name > p {
    font-size: 0.6em;
    color: var(--main-blue);
    margin: 0;
}

.part-action {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.part-action > button {
    background: var(--main-blue);
    border-radius: 0.4em;
    font-size: 0.7em;
    color: var(--main-white);
    padding: 0.4em;
}

.approve-btn {
    background: var(--main-orange);
    color: var(--main-white) !important;
    padding: 0.3em;
    border-radius: 0.4em;
}
.applicant-details-container {
    background: var(--main-white);
    width: 100%;
    height: 95%;
    border-radius: 0.4em;
    position: relative !important;
    display: grid;
    gap: 0.75%;
    grid-template-rows: 5% 23% 23% 23% 23%;
    /* grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr; */
}
.applicants-view {
    display: grid;
    width: 100%;
    gap: 0.5em;
    grid-template-rows: 5% 95%;
    height: 100%;
}
.applicant-item {
    display: flex;
    width: 100%;
    height: 100%;
    /* box-shadow: 2px 3px 4px rgba(0,0,0,0.4); */
}
.p {
    flex-direction: column;
}
.p > p {
    color: var(--main-green);
    text-transform: capitalize;
}
.applicant-item > p {
    margin: 0;
}
.p > span {
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    color: var(--main-blue);
    /* text-wrap: wrap; */
    overflow-y: scroll;
}
.close-applicant-view {
    background: var(--main-blue);
    width: 3em;
    border-radius: 0.3em;
    font-size: 1.3em;
    color: var(--main-white);
    display: grid;
    place-items: center;
    cursor: pointer;
}
@media screen and (max-width: 950px) {
    .events-part-content {
        width: 80%;
        height: 70%;
    }

    .events-participants {
        display: flex !important;
        padding-top: 3em;
    }

    .evemts-part-header {
        background: var(--main-white);
        border-radius: 0.4em;
        width: 60%;
    }

    .close-event-desc {
        top: 0% !important;
        right: 1em !important;
    }
}

@media screen and (max-width: 500px) {
    .events-part-content {
        width: 90%;
        height: 70%;
    }

    .evemts-part-header {
        width: 90%;
    }
    .approve-tickets-container {
        padding: 0;
    }
    .future-events-holder {
        padding: 0;
    }
}
